// .main-banner {
//     font-style: italic;
//     font-size: 64px;
// }



.main {
    .home {
        h1.banner {
            font-style: italic;
            font-size: 64px;
            color: red;
        }
    }

    .child {
        h1.banner {
            font-style: italic;
            font-size: 16px;
            color: blue
        }
    }
}